pipeline/kevee-Revit-PowerBI.json
{
	"name": "kevee-Revit-PowerBI",
	"properties": {
		"activities": [
			{
				"name": "Loadingdata",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kuladeep127@gmail.com/2_Loadingdata",
					"baseParameters": {
						"p_project_id": {
							"value": "@pipeline().parameters.p_project_id",
							"type": "Expression"
						},
						"p_folder_id": {
							"value": "@pipeline().parameters.p_folder_id",
							"type": "Expression"
						},
						"p_model_name": {
							"value": "@pipeline().parameters.p_model_name",
							"type": "Expression"
						},
						"p_view_name": {
							"value": "@pipeline().parameters.p_view_name",
							"type": "Expression"
						},
						"p_project_name": {
							"value": "@pipeline().parameters.p_project_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_kevee",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Bronze to Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Loadingdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kuladeep127@gmail.com/3_Bronze to Silver",
					"baseParameters": {
						"p_project_name": {
							"value": "@pipeline().parameters.p_project_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_kevee",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver to Gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze to Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kuladeep127@gmail.com/4_Silver to Gold",
					"baseParameters": {
						"p_project_name": {
							"value": "@pipeline().parameters.p_project_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_kevee",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "List of Databases",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Silver to Gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('select name from dbo.list_of_databases where name = ''', pipeline().parameters.p_project_name, '''')\r\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalytics_listOfDBs",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Check DB exist in Synapse Alytics",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "List of Databases",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('List of Databases').output.count,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Create DB",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSynapseAnalytics_Kevee",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('CREATE DATABASE ',pipeline().parameters.p_project_name)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "create stored procedure",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Create DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "serverlesSQL_kevee_sa",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": {
										"value": "@pipeline().parameters.p_project_name",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "CREATE OR ALTER PROC CreatesQLserverlessView_gold \n    @DatabaseName VARCHAR(100),\n    @ViewName VARCHAR(100)\nAS\nBEGIN\n    DECLARE @statement NVARCHAR(MAX)\n\n    -- Switch the database context\n    SET @statement = N'USE ' + @DatabaseName + ';'\n    EXEC (@statement)\n\n    -- Create or alter the view\n    SET @statement = N'CREATE OR ALTER VIEW ' + @ViewName + N' AS\n    SELECT *\n    FROM OPENROWSET (\n        BULK ''https://keveebimdata.dfs.core.windows.net/gold/' + @DatabaseName + N'/' + @ViewName + '/'',\n        FORMAT = ''DELTA''\n    ) AS [result]'\n    \n    EXEC (@statement)\nEND"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_project_id": {
				"type": "string",
				"defaultValue": "d2a531a6-80a1-4fa5-aef0-9f9fefd04bad"
			},
			"p_folder_id": {
				"type": "string",
				"defaultValue": "urn:adsk.wipprod:fs.folder:co.iMlm6NWnQ9G1tntDKKhWcA"
			},
			"p_model_name": {
				"type": "string",
				"defaultValue": "D1133-GSM Gereonstraße Meerbusch.rvt"
			},
			"p_view_name": {
				"type": "string",
				"defaultValue": "BIM360 Design Model // IFC Export // Navisworks"
			},
			"p_project_name": {
				"type": "string",
				"defaultValue": "D1133"
			}
		},
		"variables": {
			"list of dbs": {
				"type": "Array"
			},
			"databases": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}